.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  padding-left: 20px;
  padding-top: 30px;
  font-size: calc(10px + 2vmin);
  color: rgb(205, 194, 194);
}

h2 {
  margin: 0px;
}

/* Style for select, input, and button elements */
select, input, button {
  font-size: 1rem; /* Use relative font size */
  padding: 0.7rem 2%; /* Use percentages for padding */
  border: 2px solid #333; /* Keep the border consistent */
  border-radius: 5px; /* Rounded corners */
  background-color: #95a8df; /* Light background color */
  color: #333; /* Text color */
  transition: all 0.3s ease; /* Smooth transition for hover effects */
  outline: none; /* Remove the default outline */
  max-width: 400px; /* Set a maximum width to prevent them from becoming too large */
}
.cancel {
  background-color: #f44336; /* Red background for cancel button */
  
}
.cancel:hover {
  background-color: #d32f2f; /* Darker red on hover */
  color: white; /* White text on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

/* Hover effect for buttons */
button:hover {
  background-color: #3d466b; /* Change background color on hover */
  color: white; /* Change text color on hover */
  cursor: pointer; /* Show pointer cursor on hover */
}

.CoordinateSystem, .Graph {
  border: 2px solid #333;
  border-radius: 10px; /* Add rounded corners */
  background-color: #3d466b; /* Ensure background color is applied */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add shadow for a nice effect */
  padding: 10px;
  box-sizing: border-box;
  max-width: 800px; /* Limit width to 800px */
  max-height: 600px; /* Limit height to 600px */
  width: 100%; /* Ensure it fills its container */
  margin-top: 3rem;
}




.table-container {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  margin-top: 3rem;
  margin-bottom: 1rem;
  display: block;
  -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  border: 1px solid #ddd; /* Add visible border to scrollable container */
}

.navbar {
  width: 100%;
  background-color: #333;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
}

.navbar-item {
  padding: 14px 20px;
}

.navbar-link {
  color: white;
  text-decoration: none;
  display: block;
}

.navbar-link:hover {
  background-color: #ddd;
  color: black;
}

.parameters {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#algorithms {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
