.bit-graph{
    grid-column: span 5;
}

.bit-parameters{
    grid-column: span 2;
  }
.bit-top-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: auto; /* Set row height to 600px */
    gap: 20px;
    justify-content: center;
}

.BitDiagram {
    padding: 10px;  
    box-sizing: border-box;
    margin-top: 3rem;
    max-width: 360px;
    grid-column: span 2;
  }

.bit-table {
    width: max-content; /* Allow table to take its natural width */
    min-width: 100%; /* Ensure it's at least as wide as its container */
    border-collapse: collapse;
    margin-bottom: 0;
    table-layout: auto; /* Switch back to auto layout for better content fitting */
}

.bit-table th, .bit-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden; /* Hide overflow content */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
    max-width: 300px; /* Limit cell width */
}

.bit-table th {
    background-color: #333;
    color: white;
    position: sticky;
    top: 0; /* Keeps the header visible when scrolling vertically */
    z-index: 1; /* Ensures headers appear above table content */
}

.bit-table tr:hover {
    background-color: #ddd;
}

