.tsp-graph{
    grid-column: span 3;
}
.CoordinateSystem{
    grid-column: span 3;
}
.tsp-parameters{
  grid-column: span 2;
}
.tsp-algoparams{
    grid-column: span 1;
}
.tsp-top-grid {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-auto-rows: auto; /* Set row height to 600px */
    gap: 20px;
    justify-content: center;
}

